################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/mbpv/v15/.suo
/__pycache__
/jobepv.json
/mbpv.log
